{% assign page_url_string = page.url | remove: current_lg | remove: '/' | remove: '.html' | remove: '.md' %}
{% assign category_url_string = submenu.url | remove: '/' %}

<ul class="text-lg text-gray-800 pr-4">
  <li>
    <a href="{{ home_link }}{{ submenu.url }}"
       class="block pb-2 mb-2 border-b-2 border-gray-400
              hover:text-blue-700
              {% if page_url_string == category_url_string %} text-pink-700 {% endif %}">
      {{ submenu.title }}
    </a>
      <ul>
      {% for t2item in submenu.t2items %}
      {% assign t2_url_string = t2item.url | remove: '/' %}
        <li>
          <a href="{{ home_link }}{{ t2item.url }}"
             class="block py-2
                    hover:text-blue-700
                    {% if page_url_string == t2_url_string %} text-pink-700 {% endif %}">
            {{ t2item.title }}
          </a>
          {% if page.url contains t2item.url %}
            {% if t2item.t3items[0] %}
              <ul class="pl-6">
              {% for t3item in t2item.t3items %}
              {% assign t3_url_string = t3item.url | remove: '/' %}
                <li>
                  <a href="{{ home_link }}{{ t3item.url }}"
                     class="block py-2 hover:text-blue-700
                            {% if page_url_string == t3_url_string %} text-pink-700 {% endif %}">
                    {{ t3item.title }}
                  </a>
                </li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
      </ul>
  </li>
</ul>
