<div class="mt-6 bg-gray-200 text-gray-600 text-sm">
  <div class="container mx-auto pt-8 px-4">

    <div class="align-top md:inline-block md:w-32p">
      <div class="pb-8 md:pr-2">
        <div class="text-2xl pb-2 mb-4 border-b-2 border-gray-400">快速鏈結</div>
        <ul>
          <li><a class="block pb-2 hover:text-blue-700" href="#">尋找教會</a></li>
          <li><a class="block pb-2 hover:text-blue-700" href="#">尋找非華語禮拜</a></li>
          <li><a class="block pb-2 hover:text-blue-700" href="#">臺灣聖公會季刊</a></li>
          <li><a class="block hover:text-blue-700" href="#">人生大事</a></li>
        </ul>
      </div>
    </div>

    <div class="align-top md:inline-block md:w-32p">
      <div class="pb-8 md:pl-1 md:pr-1">
        <div class="text-2xl pb-2 mb-4 border-b-2 border-gray-400">聯絡我們</div>
        <ul>
          <li>台北市杭州南路一段 105 巷 7 號</li>
          <li>電話：(02) 2341-1265</li>
          <li>電子郵件：<a class="hover:text-blue-700" href="skh.tpe@msa.hinet.net">skh.tpe@msa.hinet.net</a></li>
          <li class="pt-4">
            <div class="w-6 mr-4 inline-block">{% include components/social_media/facebook.html %}</div>
            <div class="w-6 mr-4 inline-block">{% include components/social_media/twitter.html %}</div>
            <div class="w-6 mr-4 inline-block">{% include components/social_media/instagram.html %}</div>
          </li>
        </ul>
      </div>
    </div>

    <div class="align-baseline md:inline-block md:w-32p">
      <div class="pb-8 md:ml-2 md:text-right lg:text-center">
        <div class="inline-block">
          {% include components/logo/footer_logo_black.html %}
          <div class="pt-2 text-xs">2019 © {{ site.data.meta.site_name.hant }} {{ site.data.meta.site_name.en }}</div>
        </div>
      </div>
    </div>

  </div>
</div>
