<div style="background-image: url({{ site.url }}/assets/images/advent.jpg); min-height: 400px; max-height: 540px; height: 150vw"
     class="bg-cover bg-center relative">

  <div style="background-color: rgba(255,255,255,0.2)">
    <div class="container mx-auto
                px-4 py-4">
      <div class="w-48 mx-auto">
        {% include components/header/logo.html %}
      </div>
      <div class="absolute"
           style="right: 4px; top: 1.1rem;">
        <a class="block w-10"
           href="#">
          {% include components/header/hamburger_icon.html %}
        </a>
      </div>
    </div>
  </div>
  {% include components/header/curve.html %}
</div>

<div class="menu-mobile absolute inset-0 bg-white"
     style="top: 86px">
  {% include components/header/menu_mobile.html %}
</div>
