<div style="background-image: url({{ site.url }}/assets/images/homepage/featured/20191230_rev_chang.jpg);
            min-height: 9rem"
     class="bg-cover bg-center mx-auto rounded relative mt-6 md:w-3/4">
  <a href="#" class="block absolute rounded inset-0 hover-bg-gray-800-50 text-black">
    <div class="absolute text-white text-center text-xl" style="left: 10px; bottom: 10px;">新主教祝聖暨升座聖禮</div>
  </a>
</div>

<div class="mx-auto md:w-3/4">
  <h2 class="mt-12 mb-8 text-center text-3xl text-gray-600">最新消息</h2>
  <ul>
    <li class="py-2 border-b border-gray-400"><a class="hover:text-blue-600" href="#">蓋茨參加 Reddit 聖誕禮物交換活動，送給底特律一用戶 36 公斤重禮物</a></li>
    <li class="py-2 border-b border-gray-400"><a class="hover:text-blue-600" href="#">SpaceX 完成第 10 次降落傘測試，明年有望載人飛行</a></li>
    <li class="py-2 border-b border-gray-400"><a class="hover:text-blue-600" href="#">Trialjectory 完成 270 萬美元融資，將癌症患者匹配至臨床試驗項目</a></li>
    <li class="py-2 border-b border-gray-400"><a class="hover:text-blue-600" href="#">Terradepth 完成 800 萬美元融資，欲打造自動化深海數據機器人隊伍</a></li>
    <li class="py-2 border-b border-gray-400"><a class="hover:text-blue-600" href="#">中華電信愛瘋再降價 iPhone XS便宜8000元</a></li>
  </ul>
</div>
